[Unit]
Description=send node data to beehive dev server
After=start-web-app.service

[Service]
ExecStart=/usr/bin/python2.7 /root/waggleWebAPI/sendData.py

[Install]
