[Unit]
Description=send node data to beehive dev server
After=start-web-app.service

[Service]
ExecStart=/root/waggleWebAPI/sendNodeMetrics.sh

[Install]
