<!DOCTYPE HTML>
<html>

	<head>
		<link rel= "stylesheet" href= "{{ url_for('static',filename='style.css') }}">
		<title>Waggle Node Web API</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='waggle-logo.ico') }}">
	</head>
	
	<body>
		<div class="topbar">
			<img src="/waggle-logo.png" alt="HTML5 Icon" style="width:32px;height:32px;border-radius: 50%; padding: 8px; background-color:white;border:2px solid white;">
			<h3 style="float:right;color:#1098f7;">Waggle Node Metrics</h3>
		</div>		
		
		<div class="navbar">
		<ul class="navlist"style="list-style-type:none">
			<li class="navelem"><a href="{{ url_for("home") }}">Home</a></li>
			<li class="navelem"><a href="{{ url_for("memInfo")  }}">Memory Info</a></li>
			<li class="navelem"><a href="{{ url_for("generalInfo")  }}">General Info</a></li>
			<li class="navelem"><a href="{{ url_for("services")  }}">Services</a></li>
			<li class="nodeid">AoT Project @ Argonne Nat'l Laboratory</li>
		</ul>

		</div>
		{% block content  %} {% endblock  %}
	</body>
</html>
