{% extends "base.html"%}

{% block content %}

	<h1 onload="reload();" id="headerOne" align="center">Memory and CPU Info</h1>
<table class="alignmentTable">
<tr><td>
	<table class="generalTable">
		<tr style="background-color: #1098f7;color:white"><td>Memory Info</td></tr>
		{% for x in memoryInfo %}
		<tr>
			<td>{{x}}</td>
		</tr>
		{% endfor %}
	</table>
</td>
<td>
	<table class="generalTable">
		<tr style="background-color: #1098f7;color:white"><td>CPU Info</td></tr>
		{% for i in cpuInfo %}
                <tr>
                        <td>{{i[0]}}</td>
                </tr>
                {% endfor %}
	</table>
</td></tr>
</table>
	<script>
                function init() {
                        alert('hello');
                        setInterval(function(){document.getElementById("infoTable").refresh();},1000);
                }
		//init();
        </script>
{% endblock  %}
