{% extends "base.html"%}

{% block content  %}

	<h1 onload="alert()" id="headerOne">This is your memory and CPU info.</h1>
	<table id="infoTable" style="float: left;width: 25%">
		<tr style="background-color:LimeGreen;color:white"><td>Memory Info</td></tr>
		{% for x in memList %}
		<tr>
			<td>{{x}}</td>
		</tr>
		{% endfor %}
	</table>
		
	<table id="cpuTable" style="width:25%">
		<tr style="background-color:LimeGreen;color:white"><td>CPU Info</td></tr>
		{% for i in cpuInfo %}
                <tr>
                        <td>{{i[0]}}</td>
                </tr>
                {% endfor %}
	</table>

{% endblock  %}
